asn1crypto==0.24.0
configparser==3.5.0b2
cryptography==2.6.1
Django==1.11.26
django-mathfilters==1.0.0
django-xhtml2pdf==0.0.4
dnspython==1.16.0
entrypoints==0.3
enum34==1.1.6
html5lib==1.1
ipaddress==1.0.17
keyring==17.1.1
keyrings.alt==3.1.1
Pillow==6.2.2
py-getch==1.0.1
pycrypto==2.6.1
PyPDF2==1.27.9
python-snap7==0.10
pytz==2019.3
pyxdg==0.25
reportlab==3.5.50
SecretStorage==2.3.1
six==1.12.0
speedtest-cli==2.1.2
virtualenv==15.1.0
webencodings==0.5.1
python-snap7==0.10
pytz==2019.3
pyxdg==0.25
reportlab==3.5.50
SecretStorage==2.3.1
six==1.12.0
speedtest-cli==2.1.2
virtualenv==15.1.0
webencodings==0.5.1
xhtml2pdf==0.2.4
